main {
    width: 100%;
    min-height: 100vh;
    /* background-color: #111112; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.background{
    background-image: url('https://www.bmwofsterling.com/static/brand-bmw/M/BMW_M_Logo.png');
    background-color: blue;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

